@font-face {
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("Manrope-Regular"), url("../fonts/Manrope-Regular.ttf") format("ttf"), url("../fonts/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("Manrope-Regular"), url("../fonts/Manrope-Regular.ttf") format("ttf"), url("../fonts/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font: normal 700 clamp(0.88rem, 2vw, 1.25rem)/130% "Manrope", sans-serif;
  background: #F1F4F5;
  font-optical-sizing: auto;
  color: #231F20;
  min-height: 100vh;
  scrollbar-width: none;
  scrollbar-color: #231F20 transparent;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #231F20;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.disable-scroll {
  --transition-time: .3s;
  position: fixed;
  overflow: hidden;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 1.22rem 1.22rem 0;
}

section {
  padding-bottom: clamp(4.4rem, 7vw, 6.4rem);
}

.title {
  font: normal 700 clamp(1.88rem, 3vw, 3rem)/130% "Manrope", sans-serif;
  font-optical-sizing: auto;
  color: #231F20;
}

.button {
  font: normal 700 clamp(0.77rem, 2vw, 0.88rem)/140% "Manrope", sans-serif;
  display: inline-block;
  padding: 0.8rem 3rem 0.8rem 1rem;
  margin: 0;
  background: #231F20;
  color: #ffffff;
  border-radius: 0.66rem;
  border: none;
  cursor: pointer;
  font-optical-sizing: auto;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

.button::before {
  background: url(../images/icons/arrow-rigth.svg) no-repeat;
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  width: 1.25rem;
  height: 0.75rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.account {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.account__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.account__link > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.account__sum {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  padding-left: 0.4rem;
  white-space: nowrap;
}

.account__email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 max(7rem, 62%);
  flex: 0 0 max(7rem, 62%);
}

.dropdown__list {
  font: normal 400 0.88rem "Manrope", sans-serif;
  font-optical-sizing: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: -0.02rem;
  padding: 0.5rem 0 0.7rem;
  width: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease, opacity 0.3s ease;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown__list.show {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  width: 50vw;
  max-width: 960px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  gap: 0.7rem;
  margin-top: 1.22rem;
  opacity: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #ffffff;
  border-radius: 1.22rem;
  padding: clamp(1rem, 2vw, 2rem);
  position: absolute;
  white-space: nowrap;
}

.dropdown__item {
  color: #231F20;
  width: auto;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown__list.show {
  overflow: inherit;
}

.dropdown__list.show::before {
  content: "";
  position: absolute;
  top: -1.22rem;
  left: 1.8rem;
  width: 1.22rem;
  height: 2.2rem;
  border-bottom: 1.8rem solid #fff;
  border-right: 1.22rem solid transparent;
  border-left: 1.22rem solid transparent;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.header {
  color: #ffffff;
}

.header__wrapp {
  position: relative;
}

.header__top {
  position: absolute;
  width: 100%;
  font-size: 0.88rem;
  padding: 1.22rem;
}

.header__slider {
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 1.22rem;
}

.header__slider picture {
  display: block;
}

.header__slider img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1.22rem;
}

.header__logo {
  width: clamp(3.12rem, 12vw, 5rem);
}

.header__phone {
  -webkit-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__top,
.header__nav,
.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: clamp(0.66rem, 1vw, 1.88rem);
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  text-align: center;
  margin: 0 auto;
}

.header__menu {
  -webkit-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
}

.header__btn-menu {
  background: transparent;
  position: relative;
  z-index: 2;
  display: none;
  border: none;
  line-height: 0;
  cursor: pointer;
}

.header__btn-menu span {
  background: #ffffff;
  width: 1rem;
  height: 2px;
  border-radius: 1rem;
  display: block;
  margin: 4px 0;
}

.header .nav .nav__item[data-dropdown] {
  width: 100%;
  position: relative;
}

.header .nav .nav__item[data-dropdown] > a {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header .nav .nav__item[data-dropdown] > a::before {
  background: url(../../images/icons/dropdown.svg) no-repeat;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  height: 15px;
}

.header .nav .nav__item[data-dropdown] > a.active::before {
  -webkit-transform: rotate(180deg) translate(25%, 50%);
  -ms-transform: rotate(180deg) translate(25%, 50%);
  transform: rotate(180deg) translate(25%, 50%);
}

.header .nav__profile .nav__link {
  position: relative;
}

.header .nav__output {
  background: #D81823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  font: inherit;
  font-size: 0.6rem;
  color: inherit;
  max-width: 0.77rem;
  max-height: 0.77rem;
  right: -0.3rem;
  bottom: -0.3rem;
  padding: 0.33rem;
  border-radius: 50%;
}

.header .nav__link {
  display: block;
  width: 100%;
}

.header .nav__link.active {
  color: #8C8C8C;
}

.header .active-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.products__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1.88rem;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1.22rem;
}

.products__item {
  background: #ffffff;
  padding: 1.22rem;
  border-radius: 1.22rem;
  min-width: 20rem;
  max-width: 28rem;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.64rem;
  position: relative;
}

.product__inner::before {
  content: "NEW!";
  position: absolute;
  font-size: 0.88rem;
  top: 0;
  left: 0;
}

.product__likes {
  position: absolute;
  right: 0;
  top: 0;
}

.product__likes:hover {
  cursor: pointer;
}

.product__likes:hover svg path {
  fill: red;
}

.product__image {
  max-width: 20rem;
}

.product__name {
  background: #E0E0E0;
  display: inline-block;
  color: #666666;
  border-radius: 0.25rem;
  font-size: 0.66rem;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}

.product__desc {
  font-size: 1.12rem;
  text-align: center;
  margin-bottom: 0.77rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product__price {
  font: normal 400 1.22rem "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.product__price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
}

.product__price-box > span {
  display: inline-block;
}

.product__price-old {
  font: normal 400 1rem "Manrope", sans-serif;
  text-decoration: line-through;
  font-optical-sizing: auto;
  color: #8C8C8C;
}

.popup.is-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--transition-time), visibility var(--transition-time);
  transition: opacity var(--transition-time), visibility var(--transition-time);
}

.popup__wrapp.popup-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fade {
  opacity: 0;
}

.fade.animate-open {
  opacity: 1;
  -webkit-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time);
}

.fadeInUp {
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time), -webkit-transform var(--transition-time);
}

.fadeInUp.animate-open {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time), -webkit-transform var(--transition-time);
}

.popup {
  background: rgba(0, 0, 0, 0.75);
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity var(--transition-time), visibility var(--transition-time);
  transition: opacity var(--transition-time), visibility var(--transition-time);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup__wrapp {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 60px;
  margin: 0 auto;
  background: #ffffff;
  padding: 1.22rem;
  border-radius: 1.22rem;
  max-width: 45rem;
  position: relative;
  cursor: default;
}

.popup__content {
  padding-top: 3.22rem;
}

.popup__title {
  display: inline-block;
  font-size: 1.33rem;
  margin-bottom: 1.22rem;
}

.popup__close {
  position: absolute;
  right: 1.22rem;
  top: 1.22rem;
  height: 2.5rem;
  width: 2.5rem;
}

.popup__close-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  font-size: 1rem;
  line-height: 0px;
  width: 100%;
  height: 100%;
  background: #000000;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #ffffff;
  border: 0;
}

.popup__items {
  margin-bottom: 1.22rem;
}

.popup__form-item + .popup__form-item {
  margin: 0.66rem 0 0 0;
}

.popup__form-item {
  max-width: 100%;
  width: 100%;
  position: relative;
}

.popup__field {
  background: #F4F4F4;
  display: block;
  width: 100%;
  padding: 1rem 1.22rem;
  border-radius: 0.66rem;
  font-size: 1rem;
  border: 0;
  color: #231F20;
}

.popup__field::-webkit-input-placeholder {
  color: #231F20;
}

.popup__field::-moz-placeholder {
  color: #231F20;
}

.popup__field:-ms-input-placeholder {
  color: #231F20;
}

.popup__field::-ms-input-placeholder {
  color: #231F20;
}

.popup__field::placeholder {
  color: #231F20;
}

.popup__field--message {
  resize: none;
}

.popup__form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  gap: 0.66rem;
}

.popup__agree {
  font: normal 400 0.88rem/140% "Manrope", sans-serif;
  display: inline-block;
  font-optical-sizing: auto;
  color: #666666;
  max-width: 22rem;
}

.popup__error {
  color: #D81823;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 0.25rem;
  padding-left: 1.22rem;
  text-align: left;
}

.popup button:disabled {
  opacity: 0.3;
}

@supports (-webkit-appearance:none) {
  .button::before {
    background-image: url(../images/icons/arrow-rigth.svg) no-repeat;
  }

  .header .nav .nav__item[data-dropdown] > a::before {
    background-image: url(../../images/icons/dropdown.svg) no-repeat;
  }
}

@media (max-width: 992px) {
  .dropdown__list.show {
    position: static;
    gap: 1.22rem;
    padding: 0.77rem 0 0 0;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    max-width: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }

  .dropdown__list.show::before {
    display: none;
  }

  .header .nav__list:has([data-dropdown]) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__menu {
    position: absolute;
    top: -1.22rem;
    left: -1.22rem;
    -webkit-transition: -webkit-transform 0.4s ease-in;
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
    min-height: 100vh;
    max-height: 100vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow-y: auto;
    color: #231F20;
    background: #ffffff;
    min-width: 20rem;
    padding: 1.22rem;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .header__btn-menu {
    display: block;
    padding: 0 0 0 1.5rem;
  }

  .header .nav .nav__list {
    padding-top: 2.5rem;
    row-gap: 1.88rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    text-align: start;
    margin: 0 0 0 0;
    width: 100%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 992px) and (max-width: 768px) {
  .header__menu {
    top: -0.61rem;
    left: -0.61rem;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  .container {
    padding: 0.61rem 0.61rem 0;
  }

  .account {
    display: none;
  }

  .header__top {
    padding: 0.61rem;
  }

  .header .nav__profile .nav__link {
    max-width: 1rem;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 420px) {
  .header .nav__profile {
    display: none;
  }

  .popup__wrapp {
    height: 100%;
  }

  .popup__form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .popup__form-footer > button {
    max-width: 100%;
    width: 100%;
  }

  .popup__form-footer > button::before {
    display: none;
  }

@supports (-webkit-appearance:none) {

}
}