@use 'vars' as vars;
@use 'mixins/media' as media;
@use 'mixins' as mixin;


.swiper-pagination-bullets {
  position: relative;
}

.header__slider,
.products__content {

  .swiper-button-next,
  .swiper-button-prev {
    @include mixin.button(1.1rem 1.25rem, vars.$main-color);
    width: fit-content;
    aspect-ratio: 1/1;

    &::after {
      content: "";
      position: absolute;
      right: 50%;
      top: 50%;
      width: 1.25rem;
      height: 0.75rem;
      transform: translate(50%, -50%);
    }

    @include media.sm {
      display: none
    }
  }
}

.header__slider {

  .swiper-button-next,
  .swiper-button-prev {
    @include mixin.button(1.1rem 1.25rem, vars.$main-color);
  }

  .swiper-pagination-bullets {
    top: 0;
  }

  .swiper-button-prev::after {
    background-image: url(../images/icons/arrow-left.svg) no-repeat;
  }

  .swiper-button-next::after {
    background-image: url(../images/icons/arrow-rigth.svg) no-repeat;
  }
}

.products__content {

  .swiper-button-next,
  .swiper-button-prev {
    @include mixin.button(1.1rem 1.25rem, vars.$grey-5);
  }

  .swiper-pagination-bullets {
    top: -1rem;
  }

  .swiper-button-prev::after {
    background-image: url(../images/icons/arrow-left-dark.svg) no-repeat;
  }

  .swiper-button-next::after {
    background-image: url(../images/icons/arrow-rigth-dark.svg) no-repeat;
  }
}

.pagination {
  display: none;
  text-align: center;

  @include media.sm {
    display: block;
  }
}

.pagination span {
  background: vars.$grey-3;
  display: inline-block;
  width: .88rem;
  height: .3rem;
  border-radius: .2rem;
  margin: 0 .14rem !important;
}

.pagination span.swiper-pagination-bullet-active {
  background-color: vars.$main-color;
  margin: 0 .14rem;
}